DB_HOST=db
DB_USER=todo
DB_PASSWORD=
DB_NAME=todo
DB_PORT=3306
REDIS_HOST=redis
REDIS_PORT=6379
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=todo
MYSQL_USER=todo
MYSQL_PASSWORD=
SESSION_SECRET=
COOKIE_SECURE=true
COOKIE_DOMAIN=
CORS_ORIGIN=
